img{
    border-radius: 5px;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 100px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #87AAE6;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.233);
}
.formulario img{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width:  1000px) {
    .imgdesaparece {
      display: none;
    }
}   

.formulario button{
    background-color: #F7F7F7;
    color: #87AAE6;
}
.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.inner >*{
    gap: 10px;
}
.inner2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}
.inner label{
    color: #F7F7F7;
}
.formulario h1{
    color: #fff;
}