.title{
    text-align: center;
    color: #416788;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 20px;
    justify-content: center;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 420px;
    width: 300px;
    border-radius: 5px;
    background-color: #dae4f5;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    color: #286aa3;
}   
.tarjetas:hover .tarjeta {
    filter: blur(3px);
    transform: scale(0.95);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.tarjeta:hover {
    filter: none !important;
    transform: scale(1.11) !important;
    z-index: 10;
    box-shadow: 1.25px 1.25px 10px rgba(0,0,0,0.5);
}
.tarjeta img{
    object-fit: cover;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 150px;
}
